/* BONUS MISSION PART 2 */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('https://i.etsystatic.com/41357505/r/il/083c9d/4669186980/il_794xN.4669186980_nnio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 80px;
  }
  
  h1 {
    font-family: 'Pacifico', cursive;
    margin: 1px auto 30px auto;
    color: black;
	  font-size: 90px;
	  -webkit-text-stroke: 1px black;
	  -webkit-text-fill-color: peachpuff;
  }
  
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  form {
    width: 90%;
    margin: 0 auto;
  }
  
  label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: darkslategrey;
    margin-right: 15px;
    white-space: nowrap;
  }
  
  #search-bar {
    width: 60vw;
    height: auto;
    background-color: whitesmoke;
    opacity: 50;
    margin: 20px auto;
    padding: 20px;
    display: block;
    text-align: center;
  }
  

  #search-header {
    width: 70%;
    font-size: 3vw;
    font-weight: bold;
    color: darkslategrey;
    margin: 0px auto 15px auto;
  }
  
  #q {
    width: 90%;
    margin-bottom: 15px;
  }
  
  #error-box {
    visibility: hidden;
    width: 60vw;
    height: auto;
    background-color: whitesmoke;
    opacity: 50;
    margin: 0 auto;
    padding: 20px;
    display: block;
    text-align: center;
  }
  
  #error-msg {
    font-size: 10pt;
    color: rgb(163, 10, 10);
    margin: 0 auto;
  }